<div class="controls controls--cmyk">

  <div id="colorPicker">

    <div class="control control--cyan">
      <input class="control--slider" type="range" name="slider--cyan" id="slider--cyan" value="30" min="0" max="100">
    </div>

    <div class="control control--magenta">
      <input class="control--slider" type="range" name="slider--magenta" id="slider--magenta" value="30" min="0" max="100">
    </div>

    <div class="control control--yellow">
      <input class="control--slider" type="range" name="slider--yellow" id="slider--yellow" value="30" min="0" max="100">
    </div>

    <div class="control control--black">
      <input class="control--slider" type="range" name="slider--black" id="slider--black" value="30" min="0" max="100">
    </div>

    <div class="control menu">
      <a href="#" id="btn__new">Nuevo</a>
      <a href="#" id="btn__compare">Verificar</a>
    </div>

  </div>
