<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RGB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<link rel="stylesheet" href="../css/clmatcher.css">
	<style>
	</style>
</head>

<body class="status--playing ob--step1">

	<div id="onboarding" class="onboard">
		<div class="onboard__container onboard__container--step1">
			<h1>Igualá los dos colores usando los controladores</h1>
		</div>

		<div class="onboard__container onboard__container--step2">
			<h1>Bien!</h1>
			<p>Cuanto más se acerquen los dos colores, más chico va a ser el número. Volvé a intentarlo cuantas veces quieras.</p>
		</div>
	</div>

	<div id="container">

		<div id="colorArea">

			<div id="mixcontainer">
        		<%- include('../_partials/_colorbars'); %>
			</div>

		</div>

		<%- include('../_partials/_controlrgb'); %>
		<%- include('../_partials/_result'); %>

		</div>

	</div>

	<script src="../js/vendor/jquery.js"></script>
	<script src="../js/game.js"></script>
	<script src="../js/ui.js"></script>
	<script src="../js/rgbjs.js"></script>
	<script src="../js/rgbgame.js"></script>

</body>
</html>
