/* Status */
.status--playing div#colorResult{
  display: none;
}

.status--playing div#colorPicker{
  display: block;
}

.status--result div#colorResult{
  display: block;
}

.status--result div#colorPicker{
  display: none;
}
