@import "_variables.scss";

body{
  background-color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: white;
  font-family: "Arial", sans-serif;

  &.cmyk{
    background-color: white;
    color: black;
  }
}

a{
  color: white;
}

div#content{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

div#container {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  position: absolute;
}

div#workarea {
  flex-grow: 2;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#mixcontainer {
  width: 13em;
  height: 13em;
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
}

.grid__container{
  $size: 187px;

  background-color: white;
  width: $size;
  height: $size;

  & canvas{
    width: $size;
    height: $size;
  }

}

div#mixer {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
}

div#bars{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
}

div#bars div.bar{
  flex-grow: 1;
}






@import "_blocks/_controls.scss";
@import "_blocks/_onboarding.scss";
@import "_elements/_colorbars.scss";
@import "_elements/_status.scss";
@import "_elements/_sliders.scss";
