<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ColorMatcher</title>
  <link href="css/clmatcher.css" type="text/css" rel="stylesheet">
</head>
<body>

  <a href="rgb/">Versión RGB</a><br>
  <a href="cmyk/">Versión CMYK</a>

</body>
</html>
