<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ColorMatcher</title>
  <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

  <div class="grid__container">
    <canvas id="grid--halftones" class="grid__canvas"></canvas>
  </div>

  <input type="range" min="0" max="100" name="cyanNumber" id="slider--cyan" > <br>
  <input type="range" min="0" max="100" name="yellowNumber" id="slider--yellow" > <br>
  <input type="range" min="0" max="100" name="magentaNumber" id="slider--magenta" > <br>
  <input type="range" min="0" max="100" name="blackNumber" id="slider--black" > <br>

<!-- Import paper.js -->
<script type="text/javascript" src="js/vendor/paper-full.min.js"></script>
<!-- Begin to draw the grid -->
<script type="text/javascript" src="js/gridder.js"></script>
<script type="text/javascript" src="js/gridsetup.js"></script>

</body>
</html>
