body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: white;
	font-family: "Arial", sans-serif;
}

body.cmyk {
	background-color: white;
	color: black;
}

a {
	color: white;
}

div#content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div#container {
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	position: absolute;
}

div#workarea {
	flex-grow: 2;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#mixcontainer {
	width: 13em;
	height: 13em;
	display: flex;
	background: black;
	justify-content: center;
	align-items: center;
}

.grid__container {
	background-color: white;
	width: 187px;
	height: 187px;
}

.grid__container canvas {
	width: 187px;
	height: 187px;
}

div#mixer {
	display: flex;
	flex-direction: column;
	width: 140px;
	height: 140px;
}

div#bars {
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 90%;
}

div#bars div.bar {
	flex-grow: 1;
}

.controls {
	height: 10em;
	border-top: 3pt solid black;
	display: flex;
	flex-direction: column;
	padding-top: 0.6em;
	text-align: center;
}

.controls h1 {
	font-size: 1em;
	margin: 1em 0 0.1em 0;
}

.controls p {
	font-size: 1.5em;
	margin: 0.5em 0 1em;
}

.controls a {
	color: #CCC;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	text-decoration: none;
	margin: 0 1em;
}

.controls .control {
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
	min-height: 1em;
}

.controls--cmyk {
	background-color: white;
	border-color: white;
}

.controls--cmyk a {
	color: #333;
	border: 1px solid #333;
}

div#bars div.bar--red {
	background-color: red;
}

div#bars div.bar--green {
	background-color: lime;
}

div#bars div.bar--blue {
	background-color: blue;
}

/* Status */
.status--playing div#colorResult {
	display: none;
}

.status--playing div#colorPicker {
	display: block;
}

.status--result div#colorResult {
	display: block;
}

.status--result div#colorPicker {
	display: none;
}

/* Hide range sliders */
input[type=range] {
	-webkit-appearance: none;
	width: 95%;
	margin: 14px 0;
	background-color: #000;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #a6a6a6;
	border-radius: 4px;
	border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
	border: 2px solid #000000;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #b3b3b3;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #a6a6a6;
	border-radius: 4px;
	border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
	border: 2px solid #000000;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #999999;
	border: 0px solid rgba(1, 1, 1, 0);
	border-radius: 8px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #a6a6a6;
	border: 0px solid rgba(1, 1, 1, 0);
	border-radius: 8px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
	border: 2px solid #000000;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
	height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #a6a6a6;
}

input[type=range]:focus::-ms-fill-upper {
	background: #b3b3b3;
}

body.cmyk input[type=range] {
	background-color: #FFF;
}

body.cmyk input[type=range]::-webkit-slider-runnable-track {
	box-shadow: 1px 1px 1px #FFF, 0px 0px 1px #FFF;
	border: 0px solid rgba(255, 255, 255, 0);
}

body.cmyk input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
	border: 2px solid #FFFFFF;
	background: #000000;
}

body.cmyk input[type=range]:focus::-webkit-slider-runnable-track {
	background: #b3b3b3;
}

body.cmyk input[type=range]::-moz-range-track {
	box-shadow: 1px 1px 1px #FFFFFF, 0px 0px 1px #FFFFFF;
}

body.cmyk input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
	border: 2px solid #FFFFFF;
	background: #000000;
}

body.cmyk input[type=range]::-ms-fill-lower {
	background: #333333;
	box-shadow: 1px 1px 1px #FFFFFF, 0px 0px 1px #FFFFFF;
}

body.cmyk input[type=range]::-ms-fill-upper {
	background: #333333;
	box-shadow: 1px 1px 1px #FFFFFF, 0px 0px 1px #FFFFFF;
}

body.cmyk input[type=range]::-ms-thumb {
	border: 2px solid #FFFFFF;
	background: #000000;
}

body.cmyk input[type=range]:focus::-ms-fill-lower {
	background: #333333;
}

body.cmyk input[type=range]:focus::-ms-fill-upper {
	background: #333333;
}

/* red track */
.control--red input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #111 0%, red 100%);
}

.control--red input[type=range]::-moz-range-track {
	background: red;
}

.control--red input[type=range]::-ms-fill-upper {
	background: red;
}

.control--red input[type=range]:focus::-ms-fill-lower {
	background: red;
}

/* green track */
.control--green input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #111 0%, lime 100%);
}

.control--green input[type=range]::-moz-range-track {
	background: lime;
}

.control--green input[type=range]::-ms-fill-upper {
	background: lime;
}

.control--green input[type=range]:focus::-ms-fill-lower {
	background: lime;
}

/* blue track */
.control--blue input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #111 0%, blue 100%);
}

.control--blue input[type=range]::-moz-range-track {
	background: blue;
}

.control--blue input[type=range]::-ms-fill-upper {
	background: blue;
}

.control--blue input[type=range]:focus::-ms-fill-lower {
	background: blue;
}

/* cyan track */
.control--cyan input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #EEE 0%, #00a3da 100%);
}

.control--cyan input[type=range]::-moz-range-track {
	background: #00a3da;
}

.control--cyan input[type=range]::-ms-fill-upper {
	background: #00a3da;
}

.control--cyan input[type=range]:focus::-ms-fill-lower {
	background: #00a3da;
}

/* magenta track */
.control--magenta input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #EEE 0%, #d8127d 100%);
}

.control--magenta input[type=range]::-moz-range-track {
	background: #d8127d;
}

.control--magenta input[type=range]::-ms-fill-upper {
	background: #d8127d;
}

.control--magenta input[type=range]:focus::-ms-fill-lower {
	background: #d8127d;
}

/* yellow track */
.control--yellow input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #EEE 0%, #fff003 100%);
}

.control--yellow input[type=range]::-moz-range-track {
	background: #fff003;
}

.control--yellow input[type=range]::-ms-fill-upper {
	background: #fff003;
}

.control--yellow input[type=range]:focus::-ms-fill-lower {
	background: #fff003;
}

/* black track */
.control--black input[type=range]::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #EEE 0%, #0a0a0a 100%);
}

.control--black input[type=range]::-moz-range-track {
	background: #0a0a0a;
}

.control--black input[type=range]::-ms-fill-upper {
	background: #0a0a0a;
}

.control--black input[type=range]:focus::-ms-fill-lower {
	background: #0a0a0a;
}