$col-red:     rgb(255,  0,    0);
$col-green:   rgb(0,    255,  0);
$col-blue:    rgb(0,    0,    255);
$col-cyan:    rgb(0,    163,  218);
$col-magenta: rgb(216,  18,   125);
$col-yellow:  rgb(255,  240,  3);
$col-black:   rgb(10,   10,   10);
